.DS_Store
Thumbs.db
.ipr
.iws
*.diff
*.patch
*.bak
.project
.*proj
.svn/
*.swp
*.pyc
*.pyo
bower_components/
node_modules/
tmp/
temp/
build/
.build/
.*-cache/
.idea/
*.log
*.iml
/coverage/
test/coverage/
.vscode
./eslint-result.html

.justconf
